@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");

:root{
  --primary-clr-:#2959AC;
  --secondary-clr-:#081D42;
  --whiter-clr- :#e6ebf2;
}

.secondary-color{
  color: var(--secondary-clr-);
}

.primary-color{
  color: var(--primary-clr-);
}

body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container h2 span {
  color: var(--primary-clr-);
}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}






/*header section*/
.hero_area {
  padding: 0 45px;
}

.hero_area.sub_pages {
  height: auto;
}

.fix-top{
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
  z-index: 9999;
}

#navbarSupportedContent {
  width: 100%;
  background-color: var(--whiter-clr-);
  justify-content: center;
  padding: 10px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 20px 20px 20px;
}

#navbarSupportedContent.innerpage_navbar {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
  background-color: var(--whiter-clr-);
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding: 5px 25px;
  color: var(--secondary-clr-);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.navbar-nav-login{
  padding: 5px 25px;
  color: var(--secondary-clr-);
  text-align: center;
  border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary-clr-);
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand {
  margin: 15px 0;
  padding: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.custom_nav-container .nav_search-btn {
  padding: 0;
  border: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.user_option {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.user_option a {
  margin-right: 25px;
  color: #000000;
}

/*end header section*/






/*information section*/

.information_section .information_container {
  color: #fefefe;
  background-color: #000000;
  background-color: var(--primary-clr-);
  padding: 25px;
  border-radius: 15px;
  margin-top: 7%;
}

.information_section .row {
  align-items: center;
}

.information_section .img-box {
  display: flex;
  justify-content: center;
}

.information_section .img-box img {
  width: 275px;
}

.information_section .detail-box {
  padding-left: 45px;
  margin: 45px 0;
}

.information_section .detail-box h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.information_section .detail-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: var(--secondary-clr-);
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
  text-transform: uppercase;
}

.information_section .detail-box a:hover {
  background-color: transparent;
  color: white;
}

/* end information section */




/* Categories Section*/

.categories_section .heading_container {
  margin-bottom: 20px;
  margin-top: 10px;
}

.category-box {
  background-color: #eeeeee;
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
  transition: all 0.3s;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-mechanic {
  background-image: url(../navigi-images/mechanic.svg);
}
.box-welder{
  background-image: url(../navigi-images/souder.svg);
}
.box-carpenter{
  background-image: url(../navigi-images/carpenter.svg);
}
.box-electrician{
  background-image: url(../navigi-images/electrician.svg);
}
.box-plumber {
  background-image: url(../navigi-images/Plumber.svg);
}
.box-painter {
  background-image: url(../navigi-images/painter.svg);
}
.box-mason{
  background-image: url(../navigi-images/mason.svg);
}
.box-tailor{
  background-image: url(../navigi-images/tailor.svg);
}

.categories_section .box:hover{
  transform: scale(1.1);
}

.categories_section .box a {
  color: white ;
}

.dark_over{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
   opacity: 0.5;
   transition: all 0.3s;
   border-radius: 15px;
}

.box h6{
  z-index: 100;
  color: white;
  font-size: 27px;
  text-shadow: -2px 2px 4px black;
}

.box:hover .dark_over{
  opacity: 0.1;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.btn-box a {
  padding: 10px 40px;
  background-color: var(--secondary-clr-);
  color: #ffffff;
  border: 1px solid var(--secondary-clr-);
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.categories_section .btn-box a:hover {
  background-color: transparent;
  color: var(--secondary-clr-);
}

/* END Categories Section */





/* Workers Section */

.worker{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
  flex-direction: column;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-clr-);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--primary-clr-);
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--primary-clr-);
}

.name{
  font-size: 19px;
  font-weight: 500;
  color: var(--secondary-clr-);
}

.description{
  font-size: 18px;
  color: var(--secondary-clr-);
  text-align: center;
}

.button{
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: var(--primary-clr-);
  border-radius: 6px;
  margin-bottom: 14px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background: var(--secondary-clr-);
}

.swiper-navBtn{
  color: var(--primary-clr-);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: var(--primary-clr-);
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  background-color: var(--primary-clr-);
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: var(--primary-clr-);
}


/* END Workers Section */





/* About Navigi's Team Section */

.about_section .heading_container {
  margin-bottom: 20px;
}

.about_section .box {
  margin: 15px 45px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.about_section .box .about_info {
  display: flex;
  justify-content: space-between;
}

.about_section .box .about_info .about_name h5 {
  font-weight: 600;
  color: var(--secondary-clr-);
}

.about_section .box .about_info .about_name h6 {
  margin-bottom: 0;
  color: #bfc0c0;
  font-weight: normal;
  font-size: 15px;
}

.about_section .box .about_info i {
  font-size: 24px;
}

.about_section .box p {
  margin-top: 15px;
}

.about_section .carousel-control-prev,
.about_section .carousel-control-next {
  width: 45px;
  height: 125px;
  background-color: var(--secondary-clr-);
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about_section .carousel-control-prev {
  left: 0;
}

.about_section .carousel-control-next {
  right: 0;
}

/* END About Navigi's Team Section */



/* info section */
.info_section {
  position: relative;
  background-color: var(--secondary-clr-);
  color: white;
  margin: 0 45px 45px;
}

.info_section .row > div {
  margin-top: 25px;
}

.info_section a {
  text-transform: none;
}

.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.info_section p {
  color: #cbc9c9;
}

.info_section .info_link-box a {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.info_section .info_link-box a:hover {
  color: #ffffff;
}

.info_section .info_link-box a i {
  color: #ffffff;
  margin-right: 5px;
  font-size: 18px;
}

.info_section .info_link-box a span {
  color: #cbc9c9;
}

.info_section .info_link-box a:hover span {
  color: white;
}

/* end info section */


/* footer section*/

.footer_section {
  margin-top: 45px;
  font-weight: 500;
}

.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1.5px solid #eeeeee;
  width: 80%;
}

.footer_section a {
  color: #cbc9c9;
}

/* end footer section*/



/* Contact Page */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 90px;
}

.col-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: var(--secondary-clr-);
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.send-btn {
  width: 100px;
  background-color: var(--primary-clr-);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 10px 50px 200px ;
  cursor: pointer;
  transition: 0.5s;
}

.send-btn:hover {
  background-color: var(--secondary-clr-);
}

/* End Contact Page */
